/* Adjust font, padding, and margin for content */
body {
    padding: 2% 5%;
    margin: 0 auto;
    font-family: Garamond, serif;
    text-align: center;
}

/* Increases size of h1 */
h1 {
    font-size: 2.5em; 
}

/* Displays the gallery as a grid, with 20px between each item. This is using a mobile first approach, so columns will be added at larger screen sizes */
div#gallery {
    display: grid;
    gap: 20px;
}

/* The gallery items take up all available space in their grid sectinos, and transition between the hover state and normal state for all the properties */
div#gallery img.gallery-item {
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

/* Adds hover state to the gallery items - slight scale up and slight box shadow */
div#gallery img.gallery-item:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.modal {
    /* Sets the modal position as fixed, starting in the top left corner. */
    position: fixed;
    left: 0;
    top: 0;

    /* Sizes the modal over the full screen */
    width: 100%;
    height: 100%;
    
    /* Sets the modal as a grid, and centers the content on both axis */
    display: grid;
    
    /* Sets up the grid by rows, with the image taking 90%, and the caption only 10% */
    grid-template-rows: 90% 10%;

    /* A background colour of black at 75% opacity */
    background-color: rgba(0, 0, 0, 0.75);

    /* Not visible by default */
    opacity: 0;
    visibility: hidden;

    /* A transition between the main screen and the modal */
    transition: 0.5s;
}


/* This is toggled on and off to show the modal */
.modal.show {
    opacity: 1;
    visibility: visible;
}

/* Aligns the content of the HD image, and sets it to have a maximum height of 95% of its container (to leave a little cushion for spacing) */
.modal img {
    align-self:center;
    justify-self: center;
    max-height:95%;
    max-width: 95%;
}

/* Styles the text in the modal */
.modal h3 {
    color:white;
    text-shadow: 1px 2px 5px black;
}

@media screen and (min-width:400px) {
    div#gallery {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 800px) {
    div#gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}